compatible = "zmk,combos";

#define COMBO(NAME, TIMEOUT, BINDINGS, KEYPOS, LAYERS) \
combo_##NAME { \
  timeout-ms = <TIMEOUT>; \
  bindings = <BINDINGS>; \
  key-positions = <KEYPOS>; \
  layers = <LAYERS>; \
};


COMBO(left_index_home_top_ctrl, 80, &sk LCTL, 4 16, VUKEYS UA)
COMBO(left_middle_home_top_cmd, 80, &sk LGUI, 3 15, VUKEYS UA)
COMBO(left_ring_home_top_opt, 80, &sk LALT, 2 14, VUKEYS UA)

COMBO(right_index_home_top_ctrl, 80, &sk RCTL, 7 19, VUKEYS UA)
COMBO(right_middle_home_top_cmd, 80, &sk RGUI, 8 20, VUKEYS UA)
COMBO(right_ring_home_top_opt, 80, &sk RALT, 9 21, VUKEYS UA)

COMBO(thumbs_vukeys, 50, &m_f14_vukeys, 38 39, UA)
COMBO(thumbs_ua, 50, &m_f14_ua, 38 39, VUKEYS)
